.nav-link li a {
  padding: 12px 8px;
  font-size: 23px;
  color: #fff;
}
.social-icon li a {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.nav-link li a:hover {
  background: none !important;
  color: #0a8580;
}

.nav-link li a.active {
  color: #0a8580 !important;
  background: transparent !important;
}

.myParticles {
  background: url("https://i.ibb.co/HKQXB7V/javier-miranda-Oii-Vv1ii-B0-A-unsplash.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}
.logo h4 {
  font-family: "Playfair Display", serif;
}
@media screen and (min-width: 1424px) {
  .myParticles {
    background-position: 0px -75px;
  }
}
