.nav-link li a {
  padding: 12px 8px;
  font-size: 22px;
  color: #fff;
}
.nav-link li a:hover {
  background: none !important;
}

.myParticles {
  background: url("https://i.ibb.co/HKQXB7V/javier-miranda-Oii-Vv1ii-B0-A-unsplash.jpg")
    no-repeat;
  background-size: cover;
  background-position: 0px -75px;
}
