.card-image {
  transition: all 0.9s linear 0.1s;
}
/* .card:hover .card-image {
  top: -400px;
} */

.card:hover::after {
  top: 0;
  height: 100%;
}
.card::after {
  position: absolute;
  content: "";
  top: 96%;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to right, #00ffcc, #ff6600);
  opacity: 0.8;
  transition: all 0.3s linear 0.7s;
}
.active {
  background: linear-gradient(to right, #00ffcc, #ff6600);
  background-clip: text;
  color: transparent;
}
.card:hover .icon {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.icon {
  top: 100%;
  opacity: 0;
  transition: all 0.2s linear 0.9s;
}
